@import 'myinvestor.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ng2-toastr/bundles/ng2-toastr.min.css';
.footer {
    margin-top: 80px;
    .footer-inner {
        padding: 0 0;
        border-top: 1px solid #DDD;
    }
}