.stock-picker-form {
    width: 500px;
    margin: 20px;
}

.stock-picker-full-width {
    width: 100%;
}

..stock-picker-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
    margin: 10px;
}

..stock-picker-margin {
    margin: 10px;
}

.text-strip {
    margin: 30px;
    width: 50%;
}

.button-strip {
    margin-left: 30px;
}