<div class="row">
    <div class='body-spacer'>&nbsp;</div>

    <div class="col-lg-12">
        <accordion>
            <accordion-group #group1 [isOpen]='true'>
                <div accordion-heading>
                    Picked Stocks
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group1?.isOpen, 'glyphicon-chevron-right': !group1?.isOpen}"></i>
                </div>


                <div class="dashboard-grid-list">
                    <md-grid-list cols="3" rowHeight="200px">
                        <md-grid-tile *ngFor="let stock of pickedStocks | pickedStocksFilter ; let i = index">
                            <md-card>
                                <md-card-header>
                                    <div md-card-avatar class='stock-picker'></div>
                                    <md-card-title>
                                        <h3>{{stock.key}}</h3>
                                    </md-card-title>
                                    <md-card-subtitle>{{stock.value.length}} stocks</md-card-subtitle>
                                </md-card-header>
                                <md-card-content>
                                    <p> </p>
                                </md-card-content>
                                <md-card-actions>
                                    <button md-button (click)="showPickedStocks(stock.key)">
                                        <i class="material-icons md-18">toc</i> View
                                    </button>
                                    <a [routerLink]=" ['/tech-analysis', stock.key] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <button md-button>
                                            <i class="material-icons md-18">trending_up</i> Tech Analysis
                                        </button>
                                    </a>
                                </md-card-actions>
                            </md-card>
                        </md-grid-tile>
                    </md-grid-list>
                </div>


            </accordion-group>
        </accordion>
    </div>

    <div class='body-spacer'>&nbsp;</div>

    <div class="col-lg-12">
        <accordion>
            <accordion-group #group2 [isOpen]='true'>
                <div accordion-heading>
                    Job Scheduler
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group2?.isOpen, 'glyphicon-chevron-right': !group2?.isOpen}"></i>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <div class='row'>
                            <div class='col-lg-1 pull-left'> Stock Info </div>
                            <div class='col-lg-3 pull=left'>
                                Category
                                <select [(ngModel)]='selectedCategory'>
                                    <option *ngFor="let stock of pickedStocks | pickedStocksFilter ; let i = index" [value]="stock.key">{{stock.key}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForPickedStocks(BatchJobTypeEnum.ScrapeStockInfo)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                            <div class='col-lg-3 pull=left'>
                                Exchange
                                <select [(ngModel)]='selectedExchange'>
                                    <option *ngFor="let exchange of exchanges; let i = index" [value]="exchange.exchange_name">{{exchange.exchange_name}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForExchange(BatchJobTypeEnum.ScrapeStockInfo)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class='row'>
                            <div class='col-lg-1 pull-left'> Dividend History </div>
                            <div class='col-lg-3 pull=left'>
                                Category
                                <select [(ngModel)]='selectedCategory'>
                                    <option *ngFor="let stock of pickedStocks | pickedStocksFilter ; let i = index" [value]="stock.key">{{stock.key}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForPickedStocks(BatchJobTypeEnum.ScrapStockDividendHistory)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                            <div class='col-lg-3 pull=left'>
                                Exchange
                                <select [(ngModel)]='selectedExchange'>
                                    <option *ngFor="let exchange of exchanges; let i = index" [value]="exchange.exchange_name">{{exchange.exchange_name}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForExchange(BatchJobTypeEnum.ScrapStockDividendHistory)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class='row'>
                            <div class='col-lg-1 pull-left'> Dividend Summary </div>
                            <div class='col-lg-3 pull=left'>
                                Category
                                <select [(ngModel)]='selectedCategory'>
                                    <option *ngFor="let stock of pickedStocks | pickedStocksFilter ; let i = index" [value]="stock.key">{{stock.key}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForPickedStocks(BatchJobTypeEnum.DividendSummary)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                            <div class='col-lg-3 pull=left'>
                                Exchange
                                <select [(ngModel)]='selectedExchange'>
                                    <option *ngFor="let exchange of exchanges; let i = index" [value]="exchange.exchange_name">{{exchange.exchange_name}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForExchange(BatchJobTypeEnum.DividendSummary)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class='row'>
                            <div class='col-lg-1 pull-left'> Stock History </div>
                            <div class='col-lg-3 pull=left'>
                                Category
                                <select [(ngModel)]='selectedCategory'>
                                    <option *ngFor="let stock of pickedStocks | pickedStocksFilter ; let i = index" [value]="stock.key">{{stock.key}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForPickedStocks(BatchJobTypeEnum.ScrapStockHistory)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                            <div class='col-lg-3 pull=left'>
                                Exchange
                                <select [(ngModel)]='selectedExchange'>
                                    <option *ngFor="let exchange of exchanges; let i = index" [value]="exchange.exchange_name">{{exchange.exchange_name}}</option>
                                </select>
                                <button md-raised-button (click)="runJobForExchange(BatchJobTypeEnum.ScrapStockHistory)"><md-icon>trending_up</md-icon> Run</button>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">Bollinger Band</li>
                </ul>

            </accordion-group>
        </accordion>
    </div>
</div>