.stock-picker {
    background-image: url('./../../assets/images/myinvestor.png');
    background-size: cover;
}

.dashboard-grid-list {
    margin: 20px;
    width: 100%;
}

.mat-card {
    margin-bottom: 10px;
}