.analysis-form {
    width: 500px;
    margin: 20px;
}

.analysis-full-width {
    width: 100%;
}

.analysis-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin: 10px;
}

.analysis-margin {
    margin: 10px;
}


/*
.tooltip-host {
    display: inline-flex;
    align-items: center;
    margin: 50px;
    height: auto;
}
*/