<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="wrap">
	<h1>{{ title }}</h1>
	<div class="banner">
		<img src="/images/banner.png" alt="" />
	</div>
	<div class="page">
		<h2>Dude,,we can't find that page!</h2>
	</div>
	<div class="footer">
		<p>Design by <a href="http://w3layouts.com">w3layouts</a></p>
	</div>
</div>
</body>
</html>

